
/* header section */
header {
    width: 1920px;
    height: 160vh;
    background-image: url('../img/open.jpg'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    text-align: center;
}

.reservation-section {
    width: 1920px;
    background-image: url("../img/seating.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

.reservation-section #backgroundColor {
    width: 1920px;
    background-color: rgba(0,0,0, .8);
}

.reservation-section #btn-div {
    width: 100%;
    padding-top: 2%;
    margin-left: 100px;
}

.reservation-section button {
    border: none;
    color: #fff;
    background-color: rgb(0,0,0);
    padding: .5% 2%;
}

.reservation-section button:hover {
    background-color: grey;
}

.reservation-section #hide {
    width: 16%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reservation-section #show {
    width: 9%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: none;
}

.reservation-section #reservation-form {
  width: 1920px;
 
}

.reservation-section #reservation-form label {
  font-size: 3rem; 
  padding-left: 25px;
  
}

.reservation-section #reservation-form input, .reservation-section #to-go-form input {
  width: 25px;
  height: 25px;
}

.reservation-section #to-go-form {
    display: none;
}

.reservation-section #to-go-form label {
    font-size: 3rem;
    padding-left: 25px;
}

/* mobile media query for a max-width of 428px */
@media (max-width: 428px) {
   /* header section */
   header {
    width: 100%;
  }

  .header-section nav {
    display: flex;
    flex-direction: column;
  }

  header .header-section #main-nav a {
    font-size: 3rem;
    padding-bottom: 1%;
  }

  header .header-section #main-nav a:hover {
    text-decoration: underline;
  }

  header .header-section nav #link-home-page {
    font-size: 5.4rem;
    padding: 2%;
    text-align: center;
  }

  header div .social-media-icon {
    width: 30%;
    padding-bottom: 2%;
  }

  .spacer {
    width: 100%;
  }
  
  .spacer-sm {
    width: 100%;
  }
  
  .reservation-section {
    width: 100%;
  }

  .reservation-section #backgroundColor {
    width: 100%;
  }

  section {
    width: 100%;
  }

  /* reservation section */
  .reservation-section form {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 4%; 
  }

  .reservation-section #btn-div button {
    padding: 2% 4%;
  }

  /* footer section */
  footer {
    width: 100%;
  }

  footer #input-container {
      display: flex;
      flex-direction: column;
      width: 100%;
  }

  footer #input-container input {
      width: 100%;
      font-size: 2rem;
  }

  footer #nav-container {
      width: 100%;
  }

  footer #nav-container nav {
      display: flex;
      flex-direction: column;
      padding: 0;
  }

  footer #nav-container nav a {
      font-size: 3rem;
      text-decoration: none;
      padding: 0;
  }

  footer #nav-container nav a:hover {
      text-decoration: underline;
  }

  footer p {
      color: white;
  }

  /* input and button container */
  footer #input-container {
      width: 100%;
  }

  footer #input-container #input-header {
      width: 100%;
      font-size: 2.6rem;
      padding: 4% 0 4% 20%;
  }

  footer #input-container input {
      font-size: 2rem;
  }

  footer #input-container button {
      font-size: 2rem;
      width: 100%;
      padding: 1% 0;
  }

  #copyright {
      font-size: 2.2rem;
      width: 100%;
      padding-bottom: 2%;
  }
}

